<h4> Set Player Name </h4>

<div class="well">
  <form action='/set_name' method='post'>
    name: <input type='text'/ name='player_name'>
    </br>
    <input type='submit' class='btn'/>
  </form>
</div>